<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.demo.mapper.Edu_expMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="Edu_exp" type="com.project.demo.Bean.Edu_exp">
        <id column="EDU_EXP_ID" property="edu_exp_id" jdbcType="INTEGER"/>
        <result column="EDU_EXP_USER_ID" property="edu_exp_user_id" jdbcType="INTEGER"/>
        <result column="EDU_EXP_SCHOOL_NAME" property="edu_exp_school_name" jdbcType="VARCHAR"/>
        <result column="EDU_EXP_DEGREE" property="edu_exp_degree" jdbcType="VARCHAR"/>
        <result column="EDU_EXP_MAJOR" property="edu_exp_major" jdbcType="VARCHAR"/>
        <result column="EDU_EXP_BEGIN" property="edu_exp_begin" jdbcType="DATE"/>
        <result column="EDU_EXP_END" property="edu_exp_end" jdbcType="DATE"/>
        <result column="IS_DELETE" property="is_delete" jdbcType="INTEGER"/>
    </resultMap>

    <select id="selectByedu_exp_id" resultMap="Edu_exp">
        select * from edu_exp where EDU_EXP_ID=#{edu_exp_id}
    </select>

    <select id="deleteByedu_exp_id" >
        delete from edu_exp where EDU_EXP_ID=#{edu_exp_id}
    </select>
</mapper>