<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.demo.mapper.Volunteer_expMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="Volunteer_exp" type="com.project.demo.Bean.Volunteer_exp">
        <id column="VOLU_ID" property="volu_id"/>
        <result column="VOLU_USER_ID" property="volu_user_id"/>
        <result column="VOLU_NAME" property="volu_name"/>
        <result column="VOLU_TIME" property="volu_time"/>
        <result column="VOLU_BEGIN" property="volu_begin"/>
        <result column="VOLU_END" property="volu_end"/>
        <result column="VOLU_DESCRIBE" property="volu_describe"/>
        <result column="IS_DELETE" property="is_delete"/>
    </resultMap>

    <select id="selectByvolu_id" resultMap="Volunteer_exp">
        select * from Volunteer_exp where VOLU_USER_ID=#{volu_user_id}
    </select>

    <select id="deleteByvolu_id" >
        delete from Volunteer_exp where VOLU_USER_ID=#{volu_user_id}
    </select>
</mapper>
